.inline {
    background-color:red;
    width:500px; /* not works */
    padding-left:20px; /* works */
    margin:30px; /* only from right and left */
}
.block {
    background-color:blue;
}
.in-bl {
    background-color:yellow;
    display: inline-block;
    height:100px;
    padding: 30px;
}
.hidden {
    display: none;
}