html, body {
    height: 100%;
    width: 100%;
  }
  
  nav {
      text-align: center;
      padding:1.4rem; 
  }
  span.menu_item {
     background-color:#FF0063 ;
    margin-right:20px;
    padding: 5px 10px;
  }
  a {
    text-decoration: none;
    color: #EAF6F6;
  }